*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    width: 100%;
    height: 80px;
    box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.527);
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-left:15px ;
    padding-right: 15px;
}
.logo{
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
font-size: medium;
font-style: unset;
box-shadow:0 0 5px violet;
color: purple;    
}
.nav>a{
    color:rgb(86, 84, 84);
}
.cont-bnt{
    
    background-color: rgba(103, 19, 227, 0.919);
    border-radius: 12px;
    width: 100px;
    height: 40px;
    text-align: center;
    padding:10px;
}
