@media (max-width: 900px) {
  .logo {
    margin-left: 30px;
  }
  .search {
    margin-left: 30px;
    font-size: small;
  }
  .option {
    margin-right: 35px;
  }
  .login > span,
  .cart > span,
  .seller > span {
    visibility: hidden;
  }
  .login,
  .cart,
  .seller {
    padding-top: 12px;
    margin-left: 20px;
  }
}
