* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.nav-box {
  width: 100vw;
  height: 60px;
  background-color: rgb(18, 94, 234);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 5px 10px rgb(100, 95, 95);
  transition: all 300ms;
  padding: 0 20px;
}
img {
  width: 10vw;
  height: 30px;
  object-fit: cover;
  border-radius: 10px;
}
.nav {
  height: 100%;
  width: 60%;
  display: flex;
  gap: 20px;
  justify-content: end;
}
a {
  height: 100%;
  color: white;
  font-weight: bold;
  position: relative;
  display: flex;
  align-items: center;
}
.bnt-login {
  width: 100px;
  height: 30px;
  background-color: aliceblue;
  text-align: center;
  padding: 5px;
}
.web,
.market,
.word,
.more,
.html,
.css,
.js,
.jq {
  border: 1px solid rgba(0, 0, 0, 0.821);
  width: 80px;
  padding: 3px;
  transition: all 300ms;
  border-radius: 3px;
  margin: 2px 0px;
  background-color: dodgerblue;
  color: rgba(0, 0, 0, 0.682);
}

.services {
  position: relative;
}
.menu {
  position: absolute;
  top: 80%;
  /* border: 1px solid black; */
  color: black;
  font-weight: lighter;
  visibility: hidden;
  transition: all 300ms;
}
.sub-menu {
  position: absolute;
  left: 90px;
  top: 70px;
  /* background-color: dodgerblue; */
  /* border: 1px solid black; */
}
a:hover .menu {
  visibility: visible;
  top: 100%;
}

.web,
.market,
.word,
.more {
  /* padding: 5px; */
}

.web:hover,
.market:hover,
.word:hover,
.more:hover,
.html:hover,
.css:hover,
.js:hover,
.jq:hover {
  background-color: skyblue;
  color: black;
  font-weight: 500;
}
